.sidebar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
@media screen and (max-width: 700px) {
    .sidebar{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 1224px) {
    .sidebar{
        grid-template-columns: repeat(1, 1fr);
    }
}

.dev-sidebar-img{
    width: 650px;
}
@media screen and (max-width: 700px) {
   .dev-sidebar-img{
       width: 400px;
   }
}
@media screen and (max-width: 1024px) {
   .dev-sidebar-img{
       width: 500px;
   }
}


.dev-sidebar-list{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media screen and (max-width: 700px) {
    .dev-sidebar-list{
        margin-top: 1rem;
        flex-direction: column;
    }
}
@media screen and (max-width: 1024px) {
    .dev-sidebar-list{
        margin-top: 1rem;
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
    .dev-sidebar-item {
        margin: 1rem;
    }
}
@media screen and (max-width: 1024px) {
    .dev-sidebar-item {
        margin: 1rem;
    }
}
h3{
    position: absolute;
    top: 0;
    font-size: 3rem;
}
@media screen and (max-width: 700px) {
   h3{
       font-size: 2rem;
       top: -1.5rem;

   }
}
@media screen and (max-width: 1024px) {
   h3{
       font-size: 2rem;
       top: -1.5rem;

   }
}

.dev-sidebar-item{
    box-shadow: 3px 5px 8px 2px rgb(122, 121, 121);
    padding: 2rem;
}

.dev-sidebar-item:hover{
    background-color: #037fff;
}
.dev-sidebar-link{
    color: black;
}

.mainbar-text{
    font-size: 1.6rem;
    text-align: justify;
}
.mainbar-list{
    font-size: 1.2rem;
    margin: 1.5rem 2rem;
}