.header{
    height: 60vh;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo-cont{
    margin-top: -.1rem;
}
.nav-menu{
    height: 4rem;
    max-height: 4rem;
    background-color: #037;
    padding: .5rem 1rem;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.open-menu{
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    cursor: pointer;
    display: none;
}
.close-menu{
    color: red;
    margin-left: auto;
    display: none;
    cursor: pointer;
}
.nav-list{
    display: flex;
    position: absolute;
    margin: 0 2rem;
    top: 0%;
    right: 4rem;
}
@media screen and (max-width: 700px) {
    .nav-list {
        flex-direction: column;
        background-color: #037;
        z-index: 100;
        margin-top: 4rem;
        left: -2rem;
        display: none;
    }
    .open-menu{
        display: block;
    }
    
    .nav-list.open-list {
        display: block;
    }
    
    .lib {
        background-color: rgb(150, 42, 42);
        padding: .5rem;
        border-radius: 10px;
    }
}
@media screen and (max-width: 1024px) {
    .nav-list {
        flex-direction: column;
        background-color: #037;
        z-index: 100;
        margin-top: 4rem;
        left: -2rem;
        display: none;
    }

    .open-menu {
        display: block;
    }

   
   .nav-list.open-list {
       display: block;
   }
    
    .lib {
        background-color: rgb(150, 42, 42);
        padding: .5rem;
        border-radius: 10px;
    }
}
@media screen and (max-width: 1366px) {
    .nav-list{
        right: 0;
    }
}
.nav-item{
    margin: 1rem 5rem;
    list-style: none;
}
@media screen and (max-width: 700px) {
      .nav-item {
          padding: 1rem 0;
      }
}
@media screen and (max-width: 1366px) {
    .nav-item{
        margin: 1rem 2.5rem;
    }
}

.nav-link:hover{
    color: #037fff;
}
.hero{
    height: 60vh;
    background: linear-gradient(135deg,
        rgba(78, 51, 167, 0.9) 0%,
        rgba(115, 105, 170, 0.8) 100%), url('../images/resize.jpeg') center no-repeat;
    background-size: cover;
    text-align: center;
}
.container{
    padding: 3rem 4rem;
}
.flet{
    display: flex;
    flex-direction: column;
    position: relative;
}
.name{
    margin: .5rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #7eb9f5;
    text-decoration: underline;
}
.paragraph{
    line-height: 1;
    color: black;
    font-size: 2rem;
}
@media screen and (max-width: 700px) {
    .paragraph{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .paragraph{
        font-size: 1.5rem;
    }
}
.explore-btn{
    background-color: #037fff;
    width: 8rem;
    padding: .4rem;
    margin: 1.5rem 10rem;
    border-radius: 20px;
    border: 5px solid #037fff;
}
.explore-btn:hover{
    background-color: transparent;
}
.focus-content{
    margin-top: 4rem;
}
.dev-name{
    font-size: 3rem;
    text-align: center;
    color: #037fff;
    margin: 2rem;
}
.grid-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
@media screen and (max-width: 700px) {
    .grid-item{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .grid-item{
        grid-template-columns: repeat(1, 1fr);
    }
}
.dev-left{
    text-align: justify;
    box-shadow: 5px 5px 5px 8px black;
    padding: 2rem;
    font-size: 1.3rem;
}
.dev-right{
    text-align: justify;
    box-shadow: 5px 5px 5px 8px black;
    padding: 2rem;
    font-size: 1.3rem;
}
.web-dev{
    font-size: 1.5rem;
    text-align: justify;
}
.web-dev-list{
    margin: 1rem 3rem;
    font-size: 1.3rem;
}
.web-dev-catry{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
}
@media screen and (max-width: 700px) {
    .web-dev-catry{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 1024px) {
    .web-dev-catry{
        grid-template-columns: repeat(1, 1fr);
    }
}
.web-dev-catry-box{
    text-align: justify;
    box-shadow: 5px 5px 5px 3px black;
    padding: 2rem;
    font-size: 1.3rem;
    border-top: 7px solid #037fff;
}
.catry-name{
    color: #037fff;
    font-size: 1.5;
    margin-bottom: 1rem;
}
.demo{
    margin: 4rem 0;
    
}
.demo-img{
    width: 1300px;
    height: 700px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 9px 10px 15px 5px black;
}
@media screen and (max-width: 700px) {
    .demo-img{
        width: 300px;
        height: 250px;

    }
}
@media screen and (min-width: 700px) {
    .demo-img{
        width: 600px;
        height: 450px;

    }
}
@media screen and (min-width: 1024px) {
    .demo-img{
        width: 900px;
        height: 500px;
    }
}
@media screen and (min-width: 1500px) {
    .demo-img{
        width: 1300px;
        height: 800px;
    }
}
.demo-text{
    font-size: 1.5rem;
    text-align: justify;
}
.demo-image{
    background-color: rgb(8, 31, 61);
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .demo-image{
        margin: 1rem;
        padding: 1.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .demo-image{
        margin: 1rem;
        padding: 1.5rem;
    }
}
.library-btn{
     background-color: #037fff;
     width: 8rem;
     
     margin: 2rem;
     border-radius: 10px;
     border: 5px solid #037fff;
}
.library-btn:hover{
    background-color: transparent;
    color: #037fff;
}

/* footer */
footer{
    background-color: #037;
    position: relative;
}
.footer{
    display: flex;
}
@media screen and (max-width: 700px) {
    .footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 1024px) {
    .footer{
        flex-direction: column;
    }
}
.gotoupbtn {
    position: absolute;
    right: 1rem;
    background-color: #037fff;
    padding: .7rem;
    border-radius: 50%;
    top: 0;
    color: white;
    margin: 1rem;
}
.gotoupbtn:hover{
    background-color: red;
    border: 5px solid #037fff;
}
.up{
    animation: up 3.5s infinite;

}
@keyframes up {
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}


.about{
    width: 30rem;
    text-align: justify;
    color: white;
    padding: .5rem;
    margin: 0 1rem;
    font-size: 1.2rem;
}
h4{
    color: #037fff;
    font-size: 1.7rem;
    margin-bottom: .8rem;
}
.social-media{
    display: flex;
    list-style: none;
}
.social-icon{
    margin: 0 1rem;
}
.copy{
    color: #7eb9f5;
    font-size: 1.2rem;
    margin-top: 1rem;
}
