.home{
    width: 100%;
    position: relative;
}

.homeContent{
    display: flex;
    margin-left: 225px;
    transition: .5s;
    transition-property: margin-left;
}

.hideSidebar .homeContent{
  margin-left: 80px;
}


.sidebar{
  padding: 5rem 1rem 0 1rem;
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: .5s;
   transition-property: left;
}

.hideSidebar .sidebar{
  left: -11rem;
}

.sidebarContent{
  padding-top: 5px;
    background-color: white;
    height: 90%;
  }

.sidebarUserDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e1e1d0;
}

.sidebarUserDetailsAvatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid rgb(170, 170, 170);
    margin-left: 1rem;
}

.sidebarUserDetailsName{
  padding-top: 10px;
  color: #037fff;
  text-transform: uppercase;
}

.sidebarUserOpt{
  padding: 1rem;
  border-bottom: 2px solid #e1e1d0;
}

.sidebarUserOptItem{
  color: #037fff;
  list-style: none;
  padding: 1rem 0 .5rem 0;
}

.sidebarUserOptItem:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.2)
}

.sidebarUserOptList{
  margin-left: 3rem;
}

.sidebarUserIcon{
  color: #037fff;
  display: none;
}

.sidebarAccount > a{
  color: #037fff;
}

.sidebarAccountLogin{
  margin-left: 3rem;
  padding: 1rem 0;
}

  .allBlogs{
    max-width: 800px;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  
  .allBlogsContent{
    /* padding-left: 1rem; */
    /* padding-top: .5rem; */
    background-color: #fff;
    width: 600px;
    height: 80vh;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.trending{
  width: 100%;
  margin-left: 2rem;
  margin-top: 4rem;
  position: fixed;
  right: 1.5rem;
  height: 100vh;
  width: 400px;
  transition: .5s;
  transition-property: right;
}

.hideSidebar .trending{
  right: 8rem;
}

.tredingContent{
  background-color: #fff;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 10px;
  height: 80%;
  overflow-y: scroll;

}


.tredingContent::-webkit-scrollbar {
  width: 8px;
}
.tredingContent::-webkit-scrollbar-thumb {
  background-color: #037fff;
  border-radius: 50px;
}
.tredingContent::-webkit-scrollbar-track {
  background-color: #e1e1d0;
}