.home{
  /* display: flex; */
    width: 100%;
    position: relative;
}

.homeContent{
    display: flex;
    margin-left: 225px;
}

.sidebar{
  padding: 5rem 1rem 0 1rem;
  width: 15rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebarContent{
  padding-top: 5px;
    background-color: white;
    height: 90%;
  }
  
  .allBlogs{
    background-color: red;
    width: 800px;
  }
  
  .allBlogsContent{
  padding-left: 6rem;
    padding-top: 4rem;
}

.trending{
  width: 100%;
  background-color: blue;
}

.tredingContent{
    padding: 4rem 1rem 0 1rem;
}

.sidebarUserDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e1e1d0;
}

.sidebarUserDetailsAvatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid rgb(170, 170, 170);
    margin-left: 1rem;
}

.sidebarUserDetailsName{
  padding-top: 10px;
  color: #037fff;
  text-transform: uppercase;
}

.sidebarUserOpt{
  padding: 1rem;
  border-bottom: 2px solid #e1e1d0;
}

.sidebarUserOptItem{
  color: #037fff;
  list-style: none;
}