.App {
  width: 100%;
  max-width: 120rem;
  text-transform: capitalize;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './styles/HomePage.css';
@import './styles/Library.css';
@import './styles/Tools.css';
@import './styles/Developers.css';
@import './styles/Resume.css';